<nav class="navbar navbar-default navbar-static-top" style="height: 70px; margin: 0; background-color: #38a4dd; color: #ffffff; border: 0;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <span style="font-size: 37px; line-height: 47px; font-weight: 700; color: #ffffff;">PC<span style="color: rgba(255,255,255,0.8);">&ETC</span></span>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="color: #ffffff;">Categorias <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <div class="row">
              <div class="col-md-6">
                <li class="dropdown-header">PC</li>
                <li><a href="#">Processadores</a></li>
                <li><a href="#">Placas-mãe</a></li>
                <li><a href="#">Memórias</a></li>
                <li><a href="#">Placas de vídeo</a></li>
                <li><a href="#">Armazenamento</a></li>
                <li><a href="#">Monitores</a></li>
                <li><a href="#">Gabinetes</a></li>
                <li><a href="#">Fontes</a></li>
                <li><a href="#">Acessórios</a></li>
                <li><a href="#">Software</a></li>
              </div>
              <div class="col-md-6">
                <li class="dropdown-header">ETC</li>
                <li><a href="#">Games</a></li>
                <li><a href="#">Celulares</a></li>
                <li><a href="#">Tablets</a></li>
                <li><a href="#">Laptops</a></li>
                <li><a href="#">Desktops</a></li>
                <li><a href="#">Redes</a></li>
                <li><a href="#">Câmeras</a></li>
                <li><a href="#">Impressoras</a></li>
                <li><a href="#">Capas</a></li>
                <li><a href="#">Serviços</a></li>
              </div>
            </div>
          </ul>
        </li>
        <!-- <li class="active"><a href="/blog">Home</a></li> -->
        <li><a href="#lojistas">Lojas</a></li>
        <!-- <li><a href="#ofertas">Ofertas</a></li> -->
        <li><a href="#comofunciona">Como funciona?</a></li>
        <li><a href="#cadastro">Cadastre sua loja!</a></li>
        <!-- <li><a href="http://blog.pcetc.com.br" class="navbar-link">Blog</a></li> -->
        <!-- <li><a href="#configurador" style="color: #38A4DD;">CONFIGURE SEU PC</a></li> -->
        <!-- <li><a href="#lojistas" class="navbar-link">Lojistas</a></li> -->
        <!-- <li><a href="#usuarios" class="navbar-link" data-toggle="modal" data-target="#modalLogin">Login</a></li> -->
        <!-- <li><a href="#blog">Blog</a></li> -->
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>

<div class="fill">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" id="jumbo" style="background-color: #38a4dd; color: #ffffff; padding-top: 45px; padding-bottom: 30px; margin-bottom: 0;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 style="font-size: 37px; line-height: 150%; margin-top: 0px;">Pesquise preços de produtos de informática <br>sem sair de casa</h1>
          <form class="form-inline" style="margin: 25px 0;">
            <div class="input-group">
              <input type="text" size="60" class="form-control input-lg" placeholder="Pesquise por componente ou produto" style="border: 1px #ffffff;">
              <span class="input-group-btn">
                <button class="btn btn-lg btn-primary" type="button"><i class="glyphicon glyphicon-search" style="border: 1px solid #337ab7;"></i></button>
              </span>
            </div>
          </form>
          <p style="color: #eeeeee; font-weight: 100; font-size: 18px;">na Santa Ifigênia, 25 de Março, Shopping Avenida Central e muito mais!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="background-color: #ffffff; padding-top: 30px;">
  <div class="container">
    <div class="panel panel-default" style="border: 0;">
      <!-- <div class="panel-heading">
        <h3 class="panel-title">Peças de computador</h3>
      </div> -->
      <div class="panel-body">
        <ul class="list-inline text-center" style="font-size: 14px;">
          <li>
          	<a href="#"><%= image_tag("nav-cpu.jpg", size: "96x96", alt: "Processadores") %><br>Processadores</a>
          </li>
          <li>
          	<a href="#"><%= image_tag("nav-motherboards.jpg", size: "96x96", alt: "Placas-mãe") %><br>Placas-mãe</a>
          </li>
          <li>
          	<a href="#"><%= image_tag("nav-memory.png", size: "96x96", alt: "Memórias") %><br>Memórias</a>
          </li>
          <li><a href="#"><%= image_tag("nav-videocard.jpg", size: "96x96", alt: "Placas de vídeo") %><br>Placas de vídeo</a></li>
          <li><a href="#"><%= image_tag("nav-storage.jpg", size: "96x96", alt: "Armazenamento") %><br>Armazenamento</a></li>
          <li><a href="#"><%= image_tag("nav-displays.jpg", size: "96x96", alt: "Monitores") %><br>Monitores</a></li>
          <li><a href="#"><%= image_tag("nav-case.jpg", size: "96x96", alt: "Gabinetes") %><br>Gabinetes</a></li>
          <li><a href="#"><%= image_tag("nav-powersupply.jpg", size: "96x96", alt: "Fontes") %><br>Fontes</a></li>
          <li><a href="#"><%= image_tag("nav-accessories.jpg", size: "96x96", alt: "Acessórios") %><br>Acessórios</a></li>
          <li><a href="#"><%= image_tag("nav-software.jpg", size: "96x96", alt: "Software") %><br>Software</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row" style="background-color: #ffffff;">
  <div class="container">
    <div class="panel panel-default" style="border: 0;">
      <!-- <div class="panel-heading">
        <h3 class="panel-title">Eletroeletrônicos</h3>
      </div> -->
      <div class="panel-body">
        <ul class="list-inline text-center" style="font-size: 14px;">
          <li><a href="#"><%= image_tag("nav-consoles.jpg", size: "96x96", alt: "Games") %><br>Games</a></li>
          <li><a href="#"><%= image_tag("nav-smartphones.jpg", size: "96x96", alt: "Celulares") %><br>Celulares</a></li>
          <li><a href="#"><%= image_tag("nav-tablets.jpg", size: "96x96", alt: "Tablets") %><br>Tablets</a></li>
          <li><a href="#"><%= image_tag("nav-laptops.jpg", size: "96x96", alt: "Laptops") %><br>Laptops</a></li>
          <li><a href="#"><%= image_tag("nav-computers.jpg", size: "96x96", alt: "Desktops") %><br>Desktops</a></li>
          <li><a href="#"><%= image_tag("nav-networks.jpg", size: "96x96", alt: "Redes") %><br>Redes</a></li>
          <li><a href="#"><%= image_tag("nav-cameras.jpg", size: "96x96", alt: "Câmeras") %><br>Câmeras</a></li>
          <li><a href="#"><%= image_tag("nav-printers.jpg", size: "96x96", alt: "Impressoras") %><br>Impressoras</a></li>
          <li><a href="#"><%= image_tag("nav-covers.jpg", size: "96x96", alt: "Capas") %><br>Capas</a></li>
          <li><a href="#"><%= image_tag("nav-tools.jpg", size: "96x96", alt: "Serviços") %><br>Serviços</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row" style="background-color: #ffffff;">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Lojas</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-2">
          <%= image_tag("loja-1.gif", alt: "Loja Um") %>
        </div>
        <div class="col-md-2">
          <%= image_tag("loja-2.gif", alt: "Loja Dois") %>
        </div>
        <div class="col-md-2">
          <%= image_tag("loja-3.gif", alt: "Loja Três") %>
        </div>
        <div class="col-md-2">
          <%= image_tag("loja-4.gif", alt: "Loja Quatro") %>
        </div>
        <div class="col-md-2">
          <%= image_tag("loja-5.gif", alt: "Loja Cinco") %>
        </div>
        <div class="col-md-2">
          <%= image_tag("loja-6.gif", alt: "Loja Seis") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="background-color: #ffffff;">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Melhores ofertas</h3>
      </div>
      <div class="panel-body">
        
      </div>
    </div>
  </div>
</div>

<div class="row" style="background-color: #ffffff;">
  <div class="container">
    <div class="panel panel-default" style="border: 0;">
      <div class="panel-heading" style="background-color: #ffffff;">
        <h3 class="panel-title">Vantagens de pesquisar preços pelo PC&ETC</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <h4>Para o consumidor</h4>
          <p>Lorem ipsum donorum ipsis literis onminia vincit.</p>
        </div>
        <div class="col-md-6">
          <h4>Para o lojista</h4>
          <p>Lorem ipsum donorum ipsis literis onminia vincit.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="background-color: #ffffff;">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Dicas e tutoriais</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-3">
          <h5>Teste Um</h5>
          <p>Lorem ipsum donorum ipsis literis onminia vincit.</p>
        </div>
        <div class="col-md-3">
          <h5>Teste Dois</h5>
          <p>Lorem ipsum donorum ipsis literis onminia vincit.</p>
        </div>
        <div class="col-md-3">
          <h5>Terceiro teste</h5>
          <p>Lorem ipsum donorum ipsis literis onminia vincit.</p>
        </div>
        <div class="col-md-3">
          <h5>Quarto teste</h5>
          <p>Lorem ipsum donorum ipsis literis onminia vincit.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>

<!-- Login Modal -->
<%= render "sign_in" %>
